*, *::before, *::after {
    box-sizing: border-box;
}


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    width: 1280px;
    max-width: 1280px;
}

li {
    list-style: none;


}

h1 {
    font-size: 32px;
}




nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1280px;
    padding: 0px 100px;
    z-index: 999;


}

h4, h1, h2, p, h3 {
    color: #335576;
    
}


.no-link-decor {
    text-decoration: none;
    color: black;
}

.nav--item {
    display: inline;
    padding-bottom: 8px;
    margin: 0px 10px;
    color: black;
    font-size: 14px;
}



.nav--item:hover {
    border-bottom: 4px solid #DB7A4E;

}

.nav--item--current{
    border-bottom: 4px solid #DB7A4E;
}


.footer {
    display: flex;
    background-color: #FEFAF5;
    justify-content: space-evenly;
    padding-bottom: 20px;
    justify-content: justify-content;
    align-items: center;
}

.footer-hours__container {
    display: flex;

    

}

.footer--social__icon {
    height: 21px;
    width: auto;
    margin-right:21px;
    margin-top: 16px;


    
}

.footer-subheading {
    color: #DB7A4E;
    font-size: 10px;

}


.footer-description {
    font-size: 12px;
}

.footer-hours__title{
    padding-left: 15px;
}

.footer--hours__container-subcontainer {
    padding-left: 15px;
}


